@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0a0a0f;
    color: white;
}

/* Glass panel */
.glass {
    @apply bg-white/5 border border-white/10 backdrop-blur-xl;
}

/* Scrollbar hide */
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}